* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #181818;
  height: 100vh;
  width: 100vw;
}

body p:hover {
  cursor: pointer;
  -webkit-transform: scaleX(1.1) scaleY(1.1);
          transform: scaleX(1.1) scaleY(1.1);
}

body .addContentMenu, body .addBackgroundMenu {
  pointer-events: none;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

body .addContentMenu .contentImage, body .addContentMenu .backgroundImage, body .addBackgroundMenu .contentImage, body .addBackgroundMenu .backgroundImage {
  -webkit-transition: height ease-in-out 500ms;
  transition: height ease-in-out 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4em;
  width: 22em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #383838;
  overflow: hidden;
}

body .addContentMenu .contentImage img, body .addContentMenu .backgroundImage img, body .addBackgroundMenu .contentImage img, body .addBackgroundMenu .backgroundImage img {
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  width: 20em;
  height: 4em;
  margin: -6em 0 0 0;
  border: none;
  outline: none;
}

body .addContentMenu .contentImage input, body .addContentMenu .backgroundImage input, body .addBackgroundMenu .contentImage input, body .addBackgroundMenu .backgroundImage input {
  background-color: #383838;
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 0.25em;
  border: none;
  outline: none;
}

body .addContentMenu .contentImage #checkbox, body .addContentMenu .backgroundImage #checkbox, body .addBackgroundMenu .contentImage #checkbox, body .addBackgroundMenu .backgroundImage #checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 1em;
  width: 30%;
}

body .addContentMenu .contentImage #checkbox #invertImage, body .addContentMenu .backgroundImage #checkbox #invertImage, body .addBackgroundMenu .contentImage #checkbox #invertImage, body .addBackgroundMenu .backgroundImage #checkbox #invertImage {
  margin: 0 1em;
  background-color: black;
  width: 16px;
  border: none;
  outline: none;
}

body .addContentMenu .backgroundImage, body .addBackgroundMenu .backgroundImage {
  height: 1.65em;
}

body .addContentMenu .buttons, body .addContentMenu .backgroundImage, body .addBackgroundMenu .buttons, body .addBackgroundMenu .backgroundImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .addContentMenu .buttons button, body .addContentMenu .backgroundImage button, body .addBackgroundMenu .buttons button, body .addBackgroundMenu .backgroundImage button {
  background-color: #474747;
  border: 0;
  outline: 0;
  padding: 1em 2em;
  cursor: pointer;
}

body .addContentMenu .buttons button .buttonText, body .addContentMenu .backgroundImage button .buttonText, body .addBackgroundMenu .buttons button .buttonText, body .addBackgroundMenu .backgroundImage button .buttonText {
  opacity: 1;
  font-size: 20px;
  color: whitesmoke;
}

body .addContentMenu .buttons button:hover .buttonText, body .addContentMenu .backgroundImage button:hover .buttonText, body .addBackgroundMenu .buttons button:hover .buttonText, body .addBackgroundMenu .backgroundImage button:hover .buttonText {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
          transform: scaleX(1.1) scaleY(1.1);
}

body .addContentMenu .buttons .cancelButton, body .addContentMenu .backgroundImage .cancelButton, body .addBackgroundMenu .buttons .cancelButton, body .addBackgroundMenu .backgroundImage .cancelButton {
  border-radius: 0 10px 0 0;
}

body .addContentMenu .buttons .applyButton, body .addContentMenu .backgroundImage .applyButton, body .addBackgroundMenu .buttons .applyButton, body .addBackgroundMenu .backgroundImage .applyButton {
  border-radius: 10px 0 0 0;
}

body #background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  width: inherit;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 1000ms;
  transition: opacity ease-in-out 1000ms;
}

body #background #pageLoader {
  position: absolute;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  background-color: #181a1b;
  left: 0;
  height: 100%;
  width: 0%;
}

body #background #sidebar {
  position: absolute;
  z-index: 5;
  background-color: #202020;
  -webkit-transition: left ease-in-out 500ms, opacity ease-in-out 500ms;
  transition: left ease-in-out 500ms, opacity ease-in-out 500ms;
  width: 10em;
  height: 100%;
  left: 0;
}

body #background #sidebar #sidebarContainer .content {
  height: 3em;
  width: 100%;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

body #background #sidebar #sidebarContainer .content .logo {
  cursor: pointer;
  padding-top: 1em;
  max-width: 80%;
}

body #background .content {
  height: 3em;
  width: 100%;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

body #background #trashcan {
  margin-top: 0;
  height: 0;
}

body #background .newContent, body #background .newBackground {
  margin-top: 1em;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  overflow: hidden;
}

body #background .newContent .addContentButton, body #background .newContent .addBackgroundButton, body #background .newBackground .addContentButton, body #background .newBackground .addBackgroundButton {
  color: whitesmoke;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

body #background #main {
  width: calc(100% - 10em);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-image: url(../imgs/pogfilepicColorNoBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
}

body #background #main #snake {
  margin-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden !important;
  width: 490px;
  height: 490px;
}

body #background #main #snake #playGameButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: absolute;
  height: 4em;
  width: 10em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  border-radius: 1em;
}

body #background #main #snake #playGameButton p {
  text-align: center;
  width: 100%;
}

body #background #main #snake #game {
  display: none;
  margin: -12px 0 0 -58px;
  width: 500px !important;
  height: 500px !important;
}

body #background #menu {
  position: absolute;
  background-color: #474747;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  right: 0;
  width: 4em;
  height: 4em;
}

body #background #menu .menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  height: 4em;
  cursor: pointer;
}

body #background #menu .menuButton .menuButton__bar {
  width: 35px;
  height: 5px;
  background-color: #e0e0e0;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 5px;
}

body #background #menu .menuButton .menuButton__bar::before,
body #background #menu .menuButton .menuButton__bar::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: #e0e0e0;
  width: 35px;
  height: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body #background #menu .menuButton .menuButton__bar::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body #background #menu .menuButton .menuButton__bar::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

body #background #menu .open .menuButton__bar {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body #background #menu .open .menuButton__bar::before {
  -webkit-transform: translate(50px, 0) rotate(45deg);
          transform: translate(50px, 0) rotate(45deg);
}

body #background #menu .open .menuButton__bar::after {
  -webkit-transform: translate(50px, 0) rotate(-45deg);
          transform: translate(50px, 0) rotate(-45deg);
}

body #background #menu #menuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0;
}

body #background #menu #menuContent #changeBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  height: 3em;
  width: 100%;
  cursor: pointer;
}

body #background #menu #menuContent #changeBackground p {
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */