$color1: #181818;
$color2: #202020;
$color3: #212121;
$color4: #383838;
$color5: #474747;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: "Roboto", sans-serif;
	border: none;
	outline: none;
}

body {
	background-color: $color1;
	height: 100vh;
	width: 100vw;

	p:hover {
		cursor: pointer;
		transform: scaleX(1.1) scaleY(1.1);
	}

	.addBackgroundMenu {
		transition: 500ms ease-in-out;
	}

	#background {
		display: flex;
		justify-content: center;
		height: inherit;
		width: inherit;
		opacity: 0;
		transition: opacity ease-in-out 1000ms;

		#pageLoader {
			position: absolute;
			transition: ease-in-out 500ms;
			background-color: rgb(24, 26, 27);
			left: 0;
			height: 100%;
			width: 0%;
		}

		#sidebar {
			position: absolute;
			z-index: 5;
			background-color: $color2;
			transition: left ease-in-out 500ms, opacity ease-in-out 500ms;
			width: 10em;
			height: 100%;
			left: 0;
		}
		.content {
			height: 3em;
			width: 100%;
			outline: none;
			display: flex;
			justify-content: center;
			transition: ease-in-out 200ms;

			.logo {
				cursor: pointer;
				padding-top: 1em;
				max-width: 80%;
			}
		}

		.trashcan {
			margin-top: 0;
			height: 0;
		}

		.newContent {
			margin-top: 1em;
			position: absolute;
			left: 0;
			display: flex;
			align-items: center;
			background-color: $color4;
			overflow: hidden;

			.addContentButton {
				color: whitesmoke;
				transition: ease-in-out 300ms;
			}

			p {
				overflow: hidden;
				white-space: nowrap;
			}
		}

		#main {
			width: calc(100% - 10em);
			height: 100vh;
			display: flex;
			justify-content: center;
			position: absolute;
			background-image: url(../imgs/pogfilepicColorNoBackground.png);
			background-repeat: no-repeat;
			background-size: cover;
			right: 0;

			#snake {
				margin-top: 10em;
				display: flex;
				justify-content: center;
				overflow: hidden !important;
				width: 490px;
				height: 490px;

				#playGameButton {
					display: flex;
					cursor: pointer;
					position: absolute;
					height: 4em;
					width: 10em;
					align-items: center;
					background-color: $color4;
					transition: ease-in-out 300ms;
					border-radius: 1em;

					p {
						text-align: center;
						width: 100%;
					}
				}

				#game {
					display: none;
					margin: -12px 0 0 -58px;
					width: 500px !important;
					height: 500px !important;
				}
			}

			.newContentMenu {
				width: 20em;
				height: 30em;
				margin-top: 10em;
				border-radius: 20px;
				background-color: #2c2c2c;
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
				overflow: hidden;

				.imgContainer {
					height: 10em;
					background-color: #222222;
					display: flex;
					align-content: center;
					justify-content: center;

					.img {
						width: 100%;
						height: 100%;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				.inputForm {
					display: flex;
					height: 17em;
					flex-direction: column;

					.formContainer {
						display: flex;
						flex-direction: column;

						.input {
							padding: 0 0.5em;
							background-color: #363636;
							height: 2em;
							text-align: center;
						}

						.input:last-child {
							margin-bottom: 1em;
						}
					}

					.checkboxes {
						display: flex;
						align-items: center;
						justify-content: space-evenly;

						div {
							display: flex;
							flex-direction: column-reverse;
						}
						input {
							margin: 5px 0 0.5em 0;
						}
					}
				}

				.buttons {
					display: flex;
					justify-content: space-between;

					.button {
						display: flex;
						align-items: center;
						justify-content: center;
						box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
						height: 3em;
						width: 5em;
						background-color: #363636;
						text-align: center;
						transition: 200ms ease-in-out;
						cursor: pointer;
					}

					.button:hover {
						background-color: #3b3b3b;
					}

					.cancel {
						border-radius: 0 20px 0 0;
					}

					.cancel:hover {
						transform: scale(1.1) translate(3px, -2px);
					}

					.apply {
						border-radius: 20px 0 0 0;
					}

					.apply:hover {
						transform: scale(1.1) translate(-3px, -2px);
					}
				}
			}
		}

		#menu {
			position: absolute;
			background-color: $color5;
			transition: ease-in-out 500ms;
			right: 0;
			width: 4em;
			height: 4em;

			.menuButton {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 4em;
				height: 4em;
				cursor: pointer;

				.menuButton__bar {
					width: 35px;
					height: 5px;
					background-color: rgb(224, 224, 224);
					transition: 500ms;
					border-radius: 5px;
				}

				.menuButton__bar::before,
				.menuButton__bar::after {
					content: "";
					position: absolute;
					border-radius: 5px;
					background-color: rgb(224, 224, 224);
					width: 35px;
					height: 5px;
					transition: 500ms;
				}

				.menuButton__bar::before {
					transform: translateY(-10px);
				}

				.menuButton__bar::after {
					transform: translateY(10px);
				}
			}
			.open {
				.menuButton__bar {
					transform: translateX(50px);
					background: transparent;
					box-shadow: none;
				}
				.menuButton__bar::before {
					transform: translate(-50px, 0) rotate(45deg);
				}
				.menuButton__bar::after {
					transform: translate(-50px, 0) rotate(-45deg);
				}
			}

			#menuContent {
				display: flex;
				margin-top: 1em;
				align-content: center;
				align-items: center;
				transition: 200ms ease-in-out;
				opacity: 0;

				#changeBackground {
					display: flex;
					align-content: center;
					align-items: center;
					background-color: $color4;
					height: 3em;
					width: 100%;
					cursor: pointer;

					p {
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}
